@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
}

.container {
    background-color: red;
    width: 300px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr 1fr repeat(5, 2fr);
    grid-template-areas: 
        "equation equation equation equation equation"
        "display display display display display"
        "content-left content-left content-left content-right content-right"
        "allClear clear plusMinus exponent square"
        "seven eight nine multiplication sqrt"
        "four five six division factorial"
        "one two three subtraction equals"
        "doubleZero zero decimal addition equals";
    margin: 2em auto;
    padding: 1em 1em 2em 1em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    cursor: pointer;
    background-color: lightblue;
}

.super {
    padding-bottom: 1em;
}

.equation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
    margin: 0.5em 0.5em 0 0.5em;
    grid-area: equation;
    background-color: lightblue;
    flex-wrap: nowrap;
}

.display {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    grid-area: display;
    background-color: lightblue;
}

.contentLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em;
    grid-area: content-left;
}

.contentRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5em;
    /* padding-right: 1em; */
    grid-area: content-right;
}

.empty {
    background-color: orange;
}

.math {
    background-color: blue;
}

#allClear {
    grid-area: allClear;
}

#clear {
    grid-area: clear;
}

#plusMinus {
    grid-area: plusMinus;
}

#exponent {
    grid-area: exponent;
}

#square {
    grid-area: square;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#multiplication {
    grid-area: multiplication;
}

#sqrt {
    grid-area: sqrt;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#division {
    grid-area: division;
}

#factorial {
    grid-area: factorial;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#subtraction {
    grid-area: subtraction;
}

#doubleZero {
    grid-area: doubleZero;
}

#zero {
    grid-area: zero;
}

#decimal {
    grid-area: decimal;
}

#addition {
    grid-area: addition;
}

#equals {
    grid-area: equals;
    background-color: gold;
}